[submodule "libraries/glfw"]
	path = libraries/glfw
	url = git@github.com:jherico/glfw.git
[submodule "libraries/oglplus"]
	path = libraries/oglplus
	url = git@github.com:jherico/oglplus.git
[submodule "libraries/OculusSDK"]
	path = libraries/OculusSDK
	url = git@github.com:jherico/OculusSDK.git
[submodule "libraries/chess"]
	path = libraries/chess
	url = git@github.com:jherico/libagchess.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = git@github.com:g-truc/glm.git
[submodule "libraries/OpenCTM"]
	path = libraries/OpenCTM
	url = git@github.com:jherico/OpenCTM.git
[submodule "libraries/libpng"]
	path = libraries/libpng
	url = https://github.com/jherico/libpng
[submodule "libraries/zlib"]
	path = libraries/zlib
	url = https://github.com/jherico/zlib
[submodule "libraries/rocket"]
	path = libraries/rocket
	url = git@github.com:jherico/libRocket.git
[submodule "libraries/freetype"]
	path = libraries/freetype
	url = git@github.com:jherico/freetype.git
